.loading {
  text-align: center;
  color: var(--texto-secundario);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
}

.trackCard {
  background-color: var(--bg-superficie);
  padding: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: default;
  display: flex;
  flex-direction: column;
  position: relative;
}

.trackImagecontainer {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.trackImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trackBadge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--acento-spotify);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.trackName {
  font-weight: 700;
  color: var(--texto-principal);
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.artistName {
  color: var(--texto-secundario);
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorMessage {
  color: #ff5252;
  text-align: center;
  margin-top: 40px;
  font-size: 1rem;
  padding: 0 20px;
}

.emptyStateMessage {
  color: var(--texto-secundario);
  text-align: center;
  margin-top: 40px;
  font-size: 1.1rem;
  padding: 0 20px;
}
